@media (max-width: 600px) {
  .desktop {
    display: none; }

  .mobile {
    display: block;
    font-family: 'Source Sans Pro', sans-serif; }

  body {
    height: auto;
    min-height: 600px; }

  /* VIEW */
  .logo_mb {
    width: 46%;
    margin: auto;
    padding: 16px 0 13px 0; }

  .logo_mb img {
    width: 100%; }

  .titular_mb {
    /*background: #ededed;*/
    background: transparent;
    width: 94%;
    padding: 12px 0;
    margin: auto;
    text-align: center; }
    .titular_mb span {
      font-size: 33px;
      font-weight: 300;
      display: inline-block;
      margin-bottom: 10px; }
    .titular_mb ul {
      height: 30px;
      margin-left: 10px; }
      .titular_mb ul li {
        float: left;
        height: 36px;
        margin-right: 4px;
        padding: 6px 10px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        cursor: pointer; }
        .titular_mb ul li span, .titular_mb ul li img {
          float: left; }
        .titular_mb ul li img {
          margin-top: 6px; }
        .titular_mb ul li span {
          width: 65px;
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 3px 0 0 6px; }
      .titular_mb ul .option_select_mb {
        background: #ffffff; }
      .titular_mb ul .option_disable_mb {
        background: #ebebeb;
        color: #b6b6b6; }
    .titular_mb .img_jugador_mb, .titular_mb .img_arquero_over_mb, .titular_mb .img_short_over_mb, .titular_mb .img_short_arquero_over_mb, .titular_mb .img_medias_over_mb {
      display: none; }

  #view_design {
    width: 93%;
    height: 484px;
    margin: auto;
    background: #ffffff;
    border: 2px solid #cccccc;
    text-align: center;
    position: relative; }
    #view_design .nombre_back_mb, #view_design .numero_back_mb {
      position: absolute;
      z-index: 9999;
      color: #ffffff; }
    #view_design .numero_back_mb {
      font-size: 76px;
      top: 26%;
      left: 34%; }
    #view_design .nombre_back_mb {
      font-size: 30px;
      top: 18%;
      left: 29%; }
    #view_design img {
      max-width: 90%;
      left: 0; }

  /* Switch */
  .header_switch {
    height: 59px;
    background: #f2f1f1; }
    .header_switch .txt {
      font-weight: bold;
      padding: 0 16px 0 20px;
      font-size: 14px;
      display: inline-block;
      margin-top: 18px;
      float: left; }
    .header_switch .onoffswitch {
      position: relative;
      width: 68px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      float: left;
      top: 9px; }
    .header_switch .onoffswitch-checkbox {
      display: none; }
    .header_switch .onoffswitch-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px; }
    .header_switch .onoffswitch-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
      text-align: left; }
    .header_switch .onoffswitch-inner:before, .header_switch .onoffswitch-inner:after {
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      padding: 0;
      line-height: 30px;
      font-size: 14px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box; }
    .header_switch .onoffswitch-inner:before {
      content: "SI";
      padding-left: 10px;
      background-color: #6CB38A;
      color: #FFFFFF; }
    .header_switch .onoffswitch-inner:after {
      content: "NO";
      padding-right: 10px;
      background-color: #bbbaba;
      color: #ffffff;
      text-align: right; }
    .header_switch .onoffswitch-switch {
      display: block;
      width: 20px;
      margin: 5px;
      background: #FFFFFF;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 34px;
      border: 2px solid #ffffff;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s; }
    .header_switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0; }
    .header_switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px; }

  #switch_si_no_arquero_mb {
    display: none; }

  .preview_front_mb, .preview_back_mb {
    padding-top: 0; }

  .preview_arquero_mb {
    padding-top: 0; }
    .preview_arquero_mb img {
      opacity: 0.4; }

  #content_base_mb nav {
    position: relative; }

    .preview_short_mb img, .preview_short_arquero_mb img, .preview_medias_mb img, .preview_arquero_mb img {
    opacity: 0.4; }

  .overlay_mb {
    display: none;
    width: 100%;
    height: 74px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.55);
    z-index: 99; }

  .preview_medias_mb img {
    max-width: 40% !important;
    margin-top: 20%; }

  .preview_back_mb, .preview_short_mb, .preview_short_arquero_mb, .preview_medias_mb, .preview_arquero_mb {
    display: none; }

  .formato_nro_back_mb {
    z-index: 9999;
    position: absolute; }

  #btn_mb_back, #btn_mb_como, #btn_mb_precio, #btn_preguntas_frecuentes_mb {
    width: 18%;
    height: 50px;
    background: #ededed;
    color: #666666;
    font-size: 12px;
    position: absolute;
    right: -3%;
    padding: 6px 0;
    cursor: pointer;
    z-index: 9999; }

  .btn_mb_back_sel {
    background: #009bdb !important;
    color: #000000 !important; }

  #btn_mb_como, #btn_mb_precio, #btn_preguntas_frecuentes_mb {
    padding: 5% 0;
    height: 22px; }

  #btn_mb_back img {
    max-width: 39%; }

  #btn_mb_back {
    top: 70px; }

  #btn_mb_como {
    top: 136px; }

  #btn_mb_precio {
    top: 202px; }

  #btn_preguntas_frecuentes_mb {
    top: 270px; }

  /* NAV */
  nav ul li {
    width: 24.2%;
    float: left;
    background: #ffffff;
    text-align: center;
    color: #a9a9a9;
    font-size: 14px;
    padding: 13px 0 12px 0;
    cursor: pointer;
    height: 47px;
    border: 1px solid #f3f3f3; }
    nav ul li span {
      display: block; }
    nav ul li .content_img {
      height: 73%; }
      nav ul li .content_img .img_hover, nav ul li .content_img .img_hover_short, nav ul li .content_img .img_hover_medias {
        display: none; }

  #nav_options_camisetas_arquero, #nav_options_short, #nav_options_short_arquero, #nav_options_medias {
    display: none; }

  .btn_pedir_mb, .btn_pedir_arquero_mb {
    margin-right: 0;
    background: #c81705;
    color: #ffffff;
    font-weight: 700; }

  /* OPTIONS MB */
  /* Generals */
  #content_options_mb {
    /* Options Camisetas */
    /* Options Short */
    /* Options Medias */ }
    #content_options_mb span {
      color: #8a8a8a;
      margin-left: 5px; }
    #content_options_mb .top {
      height: 20px;
      margin-bottom: 3px; }
    #content_options_mb .titular {
      float: left;
      font-size: 16px; }
    #content_options_mb .sub_titular {
      font-size: 14px;
      width: 100%;
      display: block; }
    #content_options_mb .estampados {
      display: inline-block;
      width: 100%;
      margin-left: 1%; }
      #content_options_mb .estampados li {
        float: left;
        width: 9%;
        margin-left: 1%;
        text-align: center;
        background: #ffffff;
        border: 2px solid #d1d1d1;
        margin-bottom: 2px;
        cursor: pointer; }
        #content_options_mb .estampados li img {
          width: 100%; }
    #content_options_mb .selected_mb {
      border: 2px solid #3096fe !important; }
    #content_options_mb #options_mb, #content_options_mb #options_arquero_mb {
      height: auto;
      display: inline-block;
      width: 100%; }
      #content_options_mb #options_mb #option_estampados, #content_options_mb #options_arquero_mb #option_estampados_arquero, #content_options_mb #options_mb #option_colores, #content_options_mb #options_arquero_mb #option_colores_arquero, #content_options_mb #options_mb #option_numeros, #content_options_mb #options_arquero_mb #option_numeros_arquero {
        display: none;
        position: relative;
        background: #ededed;
        padding: 13px 0;
        z-index: 999999; }
      #content_options_mb #options_mb #color_secundario_box_mb, #content_options_mb #options_arquero_mb #color_secundario_box_mb, #content_options_mb #options_mb #color_secundario_tit_mb, #content_options_mb #options_arquero_mb #color_secundario_tit_arquero_mb {
        display: none; }
      #content_options_mb #options_mb #option_estampados, #content_options_mb #options_arquero_mb #option_estampados_arquero {
        top: -321px; }
      #content_options_mb #options_mb #option_colores, #content_options_mb #options_arquero_mb #option_colores_arquero {
        top: -250px;
        min-height: 165px;
        padding: 6px 0; }
      #content_options_mb #options_mb #option_numeros, #content_options_mb #options_arquero_mb #option_numeros_arquero {
        top: -285px; }
      #content_options_mb #options_mb .btn_close, #content_options_mb #options_arquero_mb .btn_close {
        float: right;
        color: #8a8a8a;
        margin-right: 15px;
        cursor: pointer; }
      #content_options_mb #options_mb span.accordion.active, #content_options_mb #options_arquero_mb span.accordion.active, #content_options_mb #options_mb button.accordion:hover, #content_options_mb #options_arquero_mb button.accordion:hover {
        color: #3096fe; }
      #content_options_mb #options_mb .list_colores_mb, #content_options_mb #options_arquero_mb .list_colores_mb {
        display: inline-block;
        width: 99%;
        margin: 10px 5px; }
      #content_options_mb #options_mb .panel, #content_options_mb #options_arquero_mb .panel {
        display: none; }
      #content_options_mb #options_mb .list_colores_mb li, #content_options_mb #options_arquero_mb .list_colores_mb li {
        float: left;
        width: 8%;
        height: 31px;
        margin-bottom: 1px;
        border: 1px solid #ffffff;
        margin-right: 1%;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        cursor: pointer; }
      #content_options_mb #options_mb .list_formatos_mb, #content_options_mb #options_arquero_mb .list_formatos_mb {
        display: inline-block;
        width: 100%;
        margin-left: 10px; }
        #content_options_mb #options_mb .list_formatos_mb li, #content_options_mb #options_arquero_mb .list_formatos_mb li {
          float: left;
          width: 14%;
          height: 53px;
          background: #ffffff;
          border: 1px solid #cbcbcb;
          margin-right: 1%;
          text-align: center;
          font-size: 50px;
          cursor: pointer; }
          #content_options_mb #options_mb .list_formatos_mb li img, #content_options_mb #options_arquero_mb .list_formatos_mb li img {
            width: 100%; }
      #content_options_mb #options_mb #list_formato_arq_mb, #content_options_mb #options_arquero_mb #list_formato_arq_mb {
        display: none; }
    #content_options_mb #options_short_mb, #content_options_mb #options_short_arquero_mb {
      height: auto;
      display: inline-block;
      width: 100%; }
      #content_options_mb #options_short_mb #option_estampados_short, #content_options_mb #options_short_arquero_mb #option_estampados_short_arquero, #content_options_mb #options_short_mb #option_colores_short, #content_options_mb #options_short_arquero_mb #option_colores_short_arquero {
        display: none;
        position: relative;
        background: #ededed;
        padding: 13px 0;
        z-index: 999999; }
      #content_options_mb #options_short_mb #color_secundario_box_short_mb, #content_options_mb #options_short_mb #color_secundario_tit_short_mb, #content_options_mb #options_short_arquero_mb #color_secundario_box_short_arquero_mb, #content_options_mb #options_short_arquero_mb #color_secundario_tit_short_arquero_mb {
        display: none; }
      #content_options_mb #options_short_mb #option_estampados_short, #content_options_mb #options_short_arquero_mb #option_estampados_short_arquero {
        top: -174px; }
      #content_options_mb #options_short_mb #option_colores_short, #content_options_mb #options_short_arquero_mb #option_colores_short_arquero {
        top: -250px;
        min-height: 165px;
        padding: 6px 0; }
      #content_options_mb #options_short_mb span.accordion_short.active, #content_options_mb #options_short_mb button.accordion_short:hover, #content_options_mb #options_short_arquero_mb span.accordion_short_arquero.active, #content_options_mb #options_short_arquero_mb button.accordion_short_arquero:hover {
        color: #3096fe; }
      #content_options_mb #options_short_mb .btn_close_short, #content_options_mb #options_short_arquero_mb .btn_close_short_arquero {
        float: right;
        color: #8a8a8a;
        margin-right: 15px;
        cursor: pointer; }
      #content_options_mb #options_short_mb .list_colores_short_mb, #content_options_mb #options_short_arquero_mb .list_colores_short_arquero_mb {
        display: inline-block;
        width: 99%;
        margin: 10px 5px; }
      #content_options_mb #options_short_mb .panel_short, #content_options_mb #options_short_arquero_mb .panel_short_arquero {
        display: none; }
      #content_options_mb #options_short_mb .list_colores_short_mb li, #content_options_mb #options_short_arquero_mb .list_colores_short_arquero_mb li {
        float: left;
        width: 8%;
        height: 31px;
        margin-bottom: 1px;
        border: 1px solid #ffffff;
        margin-right: 1%;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        cursor: pointer; }
    #content_options_mb #options_medias_mb {
      height: auto;
      display: inline-block;
      width: 100%; }
      #content_options_mb #options_medias_mb #option_colores_medias {
        display: none;
        position: relative;
        background: #ededed;
        padding: 13px 0;
        z-index: 999999;
        top: -250px;
        min-height: 165px;
        padding: 6px 0; }
      #content_options_mb #options_medias_mb .btn_close_medias {
        float: right;
        color: #8a8a8a;
        margin-right: 15px;
        cursor: pointer; }
      #content_options_mb #options_medias_mb .list_colores_medias_mb {
        display: inline-block;
        width: 99%;
        margin: 10px 5px; }
      #content_options_mb #options_medias_mb .list_colores_medias_mb li {
        float: left;
        width: 8%;
        height: 31px;
        border: 1px solid #ffffff;
        margin: 2%;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        cursor: pointer; }

  /* PRECIO Y ENTREGA */
  #precio_entrega {
    display: none;
    background: #ffffff;
    min-height: 530px;
    padding: 18px 12px;
    color: #8a8a8a; }

  #precio_entrega .top {
    display: inline-block;
    width: 100%;
    margin-bottom: 26px; }

  #precio_entrega .top .titular {
    float: left;
    font-size: 27px;
    font-weight: 300; }

  #precio_entrega .top .btn_close_precio_entrega {
    float: right;
    color: #8a8a8a;
    cursor: pointer; }

  #precio_entrega .titulo {
    font-weight: 700;
    margin: 30px 0 8px 0;
    display: block; }

  #precio_entrega p {
    font-size: 14px;
    line-height: 16px; }

  /* BACK FORM MINIMO 8 CAMISETAS */
  #back_form_min8 {
    display: none;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    z-index: 999999; }

  #back_form_min8 span {
    display: block;
    position: relative;
    top: 20%; }

  #back_form_min8 .str_1 {
    font-weight: 700;
    font-size: 20px;
    color: #c81705; }

  #back_form_min8 .str_2 {
    color: #8a8a8a;
    font-size: 62px;
    font-weight: 300; }

  /* FORMULARIO */
  #formulario_mb {
    display: none;
    background: #ffffff;
    width: 88%;
    padding: 2% 6%;
    color: #8a8a8a; }
    #formulario_mb .btn_style_red {
      width: 100%;
      padding: 20px 0;
      background: #c81705;
      color: #ffffff;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      margin: 30px 0 10px 0;
      cursor: pointer;
      border: none; }
    #formulario_mb #btn_volver_mb button {
      width: 100%;
      padding: 20px 0;
      background: transparent;
      border: 2px solid #939393;
      border-radius: 3px;
      color: #939393;
      font-size: 22px;
      cursor: pointer;
      text-align: center; }
    #formulario_mb .content_pedido_mb .row input[type="file"] {
      width: 340px;
      height: 38px;
      float: right;
      font-size: 15px;
      color: #afafaf;
      padding: 0 5px; }
    #formulario_mb .divisor_mb {
      border-left: none;
      border-right: none;
      border-bottom: none;
      margin: 18px 0; }
    #formulario_mb .btn_style_red_disabled {
      width: 364px;
      background-color: #CCCCCC;
      color: #ffffff;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      padding: 12px 0;
      text-transform: uppercase;
      cursor: pointer;
      margin-left: 14px; }


  #formulario_mb .top {
    margin: 5px 0 12px 0; }

  #formulario_mb .top .titular {
    font-size: 20px; }

  #formulario_mb .top .btn_close_form_mb {
    float: right;
    margin-right: 15px;
    cursor: pointer; }

  #formulario_mb .content_pedido_finalizado_mb {
    display: none;
    color: #9c9c9c;
    text-align: center; }

  #formulario_mb .content_pedido_finalizado_mb .msj {
    margin: 50px auto;
    max-width: 90%;
    font-size: 16px;
    line-height: 20px; }

  #formulario_mb .content_pedido_finalizado_mb .tel_box_mb .tel_tit_mb {
    display: block;
    font-size: 12px;
    margin-bottom: 8px; }

  #formulario_mb .content_pedido_finalizado_mb .tel_box_mb .tel_mb {
    margin-bottom: 90px; }

  #formulario_mb .content_pedido_finalizado_mb .tel_box_mb .tel_mb span {
    font-size: 30px;
    font-weight: 300;
    margin-left: 7px; }

  #formulario_mb .content_pedido_finalizado_mb .shared_box span {
    display: block;
    margin-bottom: 28px; }

  #formulario_mb .content_pedido_finalizado_mb .shared_box ul {
    display: inline-block; }

  #formulario_mb .content_pedido_finalizado_mb .shared_box ul li {
    float: left;
    margin-right: 20px; }

  #formulario_mb .content_pedido_finalizado_mb #pedido_enviado_mb {
    cursor: pointer;
    margin: 50px 0 30px 0; }

  #formulario_mb .content_pedido_finalizado_mb #pedido_enviado_mb img {
    width: 100%; }

  #formulario_mb label {
    margin-bottom: 12px;
    display: block; }

  #formulario_mb label span {
    font-size: 14px; }

  #formulario_mb label .opcional {
    font-size: 12px; }

  #formulario_mb label input, #formulario_mb label textarea {
    color: #8a8a8a;
    width: 96%;
    margin-top: 6px;
    height: 26px;
    font-size: 16px;
    border: 1px solid #cfcfcf;
    padding: 1px 5px; }

  #formulario_mb label textarea {
    height: 75px; }

  #formulario_mb .box_jugadores_mb {
    position: relative;
    min-height: 86px; }
    #formulario_mb .box_jugadores_mb .titular {
      display: block;
      font-size: 16px;
      margin: 17px 0 18px 0; }
      #formulario_mb .box_jugadores_mb .titular img {
        margin-right: 6px;
        position: relative;
        top: 3px; }
    #formulario_mb .box_jugadores_mb #btn_add_jugador_mb {
      position: absolute;
      top: 53px;
      right: 5px;
      cursor: pointer; }

  #formulario_mb .box_arqueros_mb {
    position: relative;
    min-height: 86px; }
    #formulario_mb .box_arqueros_mb .titular {
      display: block;
      font-size: 16px;
      margin: 17px 0 18px 0; }
      #formulario_mb .box_arqueros_mb .titular img {
        margin-right: 6px;
        position: relative;
        top: 3px; }
    #formulario_mb .box_arqueros_mb #btn_add_arquero_mb {
      position: absolute;
      top: 61px;
      right: 5px;
      cursor: pointer; }

  #formulario_mb .box_jugadores_mb .box_jugador_mb {
    display: inline-block; }
    #formulario_mb .box_jugadores_mb .box_jugador_mb .numero, #formulario_mb .box_jugadores_mb .box_jugador_mb .talle, #formulario_mb .box_jugadores_mb .box_jugador_mb .nombre {
      float: left;
      margin-right: 3%; }
    #formulario_mb .box_jugadores_mb .box_jugador_mb .numero input, #formulario_mb .box_jugadores_mb .box_jugador_mb .numero select, #formulario_mb .box_jugadores_mb .box_jugador_mb .talle input, #formulario_mb .box_jugadores_mb .box_jugador_mb .talle select, #formulario_mb .box_jugadores_mb .box_jugador_mb .nombre input, #formulario_mb .box_jugadores_mb .box_jugador_mb .nombre select, #formulario_mb label select {
      width: 90%;
      padding: 0 5%;
      height: 26px;
      color: #8a8a8a;
      font-size: 16px;
      border: 1px solid #cfcfcf;
      margin-top: 4px; }
    #formulario_mb .box_jugadores_mb .box_jugador_mb .numero select, #formulario_mb .box_jugadores_mb .box_jugador_mb .talle select, #formulario_mb .box_jugadores_mb .box_jugador_mb .nombre select {
      height: 30px; }
    #formulario_mb .box_jugadores_mb .box_jugador_mb .numero, #formulario_mb .box_jugadores_mb .box_jugador_mb .talle {
      width: 16%; }
    #formulario_mb .box_jugadores_mb .box_jugador_mb .nombre {
      width: 43%; }
      #formulario_mb .box_jugadores_mb .box_jugador_mb .nombre .opcional {
        font-size: 14px; }
    #formulario_mb .box_jugadores_mb .box_jugador_mb .btn_delete_mb {
      font-size: 25px;
      margin-top: 21px;
      cursor: pointer; }

  #formulario_mb .box_arqueros_mb .box_arquero_mb {
    display: inline-block; }
    #formulario_mb .box_arqueros_mb .box_arquero_mb .numero, #formulario_mb .box_arqueros_mb .box_arquero_mb .talle, #formulario_mb .box_arqueros_mb .box_arquero_mb .nombre {
      float: left;
      margin-right: 3%; }
    #formulario_mb .box_arqueros_mb .box_arquero_mb .numero input, #formulario_mb .box_arqueros_mb .box_arquero_mb .numero select, #formulario_mb .box_arqueros_mb .box_arquero_mb .talle input, #formulario_mb .box_arqueros_mb .box_arquero_mb .talle select, #formulario_mb .box_arqueros_mb .box_arquero_mb .nombre input, #formulario_mb .box_arqueros_mb .box_arquero_mb .nombre select {
      width: 90%;
      padding: 0 5%;
      height: 26px;
      color: #8a8a8a;
      font-size: 16px;
      border: 1px solid #cfcfcf;
      margin-top: 4px; }
    #formulario_mb .box_arqueros_mb .box_arquero_mb .numero select, #formulario_mb .box_arqueros_mb .box_arquero_mb .talle select, #formulario_mb .box_arqueros_mb .box_arquero_mb .nombre select {
      height: 30px; }
    #formulario_mb .box_arqueros_mb .box_arquero_mb .numero, #formulario_mb .box_arqueros_mb .box_arquero_mb .talle {
      width: 16%; }
    #formulario_mb .box_arqueros_mb .box_arquero_mb .nombre {
      width: 43%; }
      #formulario_mb .box_arqueros_mb .box_arquero_mb .nombre .opcional {
        font-size: 14px; }
    #formulario_mb .box_arqueros_mb .box_arquero_mb .btn_delete_mb {
      font-size: 25px;
      margin-top: 21px;
      cursor: pointer; }

  /* ACCORDION */
  .accordion, .accordion_short, .accordion_short_arquero {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s; }

  /* FINALIZADO */
  /*#finalizado {
    width: 100%;
    height: auto;
    display: inline-block;
    .left, .right {
      width: 100%; 
    }
    .right {
      padding-top: 66px; 
    }
    #finalizado_front {
      margin-bottom: 10px; 
    }
  }*/
  .header_pedido_mb {
    width: 46%;
    margin: 15px auto; }
    .header_pedido_mb img {
      width: 100%; } }
@media (max-width: 600px) and (max-width: 398px) {
  .formato_nro_back_mb {
    left: -7px; } }
@media (max-width: 600px) and (max-width: 379px) {
  .formato_nro_back_mb {
    left: -13px; } }
@media (max-width: 600px) and (max-width: 349px) {
  .formato_nro_back_mb {
    left: -24px; } }
@media (max-width: 370px) {
  #option_estampados {
    top: -311px !important; } }
/*# sourceMappingURL=mobile.css.map */

/*# sourceMappingURL=mobile.css.map */
